body {
	width: 100wh;
	height: 90vh;
  color: #fff;
  background: url("../images/background.jpg");
  margin: auto;
  background-size: cover;
	background-size: 90%;

}

#pic{

  width: 45px;
  
}

#jumbo1 {
    width: 37% ;
    color: red;
    font-family: 'Cinzel', serif;
    text-shadow: 2px 2px 4px white;
}
#jumbo2 {
    float: right;
    width: 40% ;
    position: relative;
    left: -325px;
    top: -175px; 
    color: white;
    outline-style: double;
    outline-color:white;
    font-family: 'Cinzel', serif;
} 


#jumbo2_text {
    font-size: 32px; 
}

#input {
    position: relative;
    
    outline-style: double;
    outline-color: red;
}

#nav{
    animation-name: MENU;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    color:white;
}


@media screen and (max-height: 450px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
 }
}

.animated-search-form[type=search] {
  width: 85%;
  border: 0.125rem solid red;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
  border-radius: 0;
 
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
  background-color: transparent;
  color: white


}

.animated-search-form[type=search]:focus {
  width: 85%;
  background-color: transparent;
  color: white;
  border: 0.005rem solid red;

  
}

#submitBtn{
  border: 0.125rem solid red;
  background-color:transparent;

}

#charts{
float: right;
position: relative;
right: -13cm;
top: -2cm;
width: 14cm;
height: 10cm;
background-color: transparent; 
}


#youtubeBtn{

  width: 35%;
}
